@model QuickTest.Models.SellerViewModels.Step3
<h1>@ViewBag.password</h1>
<h2>@ViewBag.cnfrompass</h2>
<h2>@ViewBag.email</h2>



@*<h2>@Model.shopname</h2>*@


<h2>@Model.Address</h2>
<h2>@Model.</h2>
<h2>@ViewBag.lat</h2>
<h2>@ViewBag.longitude</h2>



@*@foreach(string i in Model.category)
{
    <h4>@i</h4>
}*@

